<ion-header>
  <ion-toolbar>
    <ion-title>Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid fixed>
  <ion-row>
    <ion-col>
      <ion-card button (click)="openModalData()">
        <ion-card-header>
          <ion-card-subtitle>#Vin code#</ion-card-subtitle>
          <ion-card-title>Lamborghini</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-no-padding">
          <div class="cardImageContainer">
            <img class="cardImage" src="https://lh3.googleusercontent.com/proxy/WrweiA3w9LNR_zFb6-76HPzvNq5EZFEZng4zyoXtpmtzPsJyAKYFECPNBBs7W9fvnIToI10bv_eLYJ9ZJSdw5gHPFBaxCsi3GVfEzgE60bwFZ3pGmzyxKWOYT4oj1TjyAqPYVAljBdo105rwNbLkySS_yBcH2Qa9O002PFTDGOSjBorRG4DJZB6JJZYD1qj-zwW37RQBJ2-unl_wsYV8g9rZDexdwJQ-PKbiniNW751wm0LzQkWh4jt713dgIc6MSSWbE1nd0jg31VDS5OGS4QFZ7Pngzhzv">
          </div>
          <div class="cardFooter">
            <ion-icon slot="start" name="calendar-outline"></ion-icon>
            <ion-label>DD/MM/YYYY</ion-label>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>