<ion-header>
  <ion-toolbar>
    <ion-title>Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid fixed>
  <ion-row>
    <ion-col>
      <ion-card button (click)="openModalData()">
        <ion-card-header>
          <ion-card-subtitle>#Vin code#</ion-card-subtitle>
          <ion-card-title>Lamborghini</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-no-padding">
          <div class="cardImageContainer">
            <img class="cardImage" src="">
          </div>
          <div class="cardFooter">
            <ion-icon slot="start" name="calendar-outline"></ion-icon>
            <ion-label>DD/MM/YYYY</ion-label>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>