<ion-header>
  <ion-toolbar>
    <ion-button slot="end" fill="outline" size="small" (click)="exitOnData()"  style="margin-right: 10px;">
      <ion-icon slot="icon-only" name="close" ></ion-icon>
    </ion-button>
    <ion-title>modalForm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="RegistrationForm" (ngSubmit)="submit()">
    <ion-list>
      <ion-item-divider>
        <ion-label>Date of Vehicle</ion-label>
      </ion-item-divider>
      <!-- select Model -->
      <ion-item>
        <ion-label position="floating">Model</ion-label>
        <ion-select formControlName="model" [(ngModel)]="selectMarcVal" autocapitalize (ion-change)="$event" interface="action-sheet">
          	<ion-select-option *ngFor="let item of data" [value]="item.id" >{{item.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <!-- select date  -->
      <ion-item>
        <ion-label position="floating">Select date</ion-label>
        <ion-datetime formControlName="dateCar" displayFormat="YYYY" min="1940" value="{{dateValue | date:'yyyy'}}" [ngModel]="dateValue.toISOString()"></ion-datetime>
      </ion-item>
      <!-- Insert vehicle parts-->
      <ion-item-divider>
        <ion-label>Label</ion-label>
      </ion-item-divider>
      <ion-item button (click)="submit()" detail>
        <ion-label>
          Button Item with Detail Arrow
        </ion-label>
      </ion-item>
      <!-- inputs -->

      <ion-list formGroupName="address">
        <ion-item-divider>
          <ion-label>Address</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-input formControlName="street" autocapitalize type="text" placeholder="Street"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.street">
          <ng-container *ngIf="street.hasError(error.type) && (street.dirty || street.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-input formControlName="city" autocapitalize type="text" placeholder="City"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.city">
          <ng-container *ngIf="city.hasError(error.type) && (city.dirty || city.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-input formControlName="state" autocapitalize type="text" placeholder="State"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.state">
          <ng-container *ngIf="state.hasError(error.type) && (state.dirty || state.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
      </ion-list>
    </ion-list>
      <ion-button [disabled]="!RegistrationForm.valid" type="submit">Submit
        <ion-icon slot="end" name="create"></ion-icon>
      </ion-button>
  </form>

</ion-content>
