

<ion-content>
  <div class="ion-margin content">
    <h2 class="">Welcome to vinApp</h2>
    <img src="../../assets/img/undraw_feeling_proud_qne1.svg" alt="">
  </div>
  <div class="body ion-margin">
    <h6>View changes version</h6>
    <span>1.01v</span>
    <ul>
      <li>xxxxxxxxxxxxxxxx</li>
      <li>xxxxxxxxxxxxxxxx</li>
      <li>xxxxxxxxxxxxxxxx</li>
      <li>xxxxxxxxxxxxxxxx</li>
    </ul>

    <h6>Featuring</h6>
    <ul>
      <li>xxxxxxxxxxxxxxxx</li>
      <li>xxxxxxxxxxxxxxxx</li>
      <li>xxxxxxxxxxxxxxxx</li>
      <li>xxxxxxxxxxxxxxxx</li>
    </ul>
  </div>
</ion-content>

<ion-tabs>
  <div >
    <ion-tab-bar slot="bottom" color="primary" style="padding: 0px 20px;" class="">
      <ion-tab-button tab="home" class="ion-no-padding ion-no-margin">
        <ion-icon name="home"></ion-icon>
        <ion-label> home </ion-label>
      </ion-tab-button>
      <ion-tab-button tab="gallery" class="ion-no-padding ion-no-margin">
        <ion-icon name="book"></ion-icon>
        <ion-label> Gallery </ion-label>
      </ion-tab-button>
      <ion-tab-button tab="" class="ion-no-padding">
        <ion-icon name="search"></ion-icon>
        <ion-label> Search </ion-label>
      </ion-tab-button>
      <ion-tab-button tab="vin-scan"class="ion-no-padding ">
        <ion-icon name="list"></ion-icon>
        <ion-label> List </ion-label>
      </ion-tab-button>
      <ion-tab-button tab="configApp" class="ion-no-padding ion-no-margin">
        <ion-icon name="cog"></ion-icon>
        <ion-label>Config</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </div>
</ion-tabs>