page-home{
  .ng-progress-bar{
    margin-top: 88px;
  }
}


.content{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img{
    width: 70%;
  }
 
}

.body{
  h3{
    width: 80%;
  }
}

.content::before{
  z-index: -10;
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100vh;
  height: 100vh;
  background-color: rgb(80, 176, 250);
  border-radius: 50%;
  transform-origin: bottom;
  transform: translateX(-50%) scale(1) translateY(-85%);
}